language: julia
os:
    - linux
arch:
    - x64
    - x86
julia:
    - 1.4
    - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
    email: false
#script: # use the default script which does the following
#    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#    - julia -e 'Pkg.clone(pwd()); Pkg.build("Sundials"); Pkg.test("Sundials"; coverage=true)';
after_success:
    - julia -e 'cd(Pkg.dir("Sundials")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
