language: cpp
compiler:
  - clang
notifications:
  email: false
env:
  matrix:
    - JULIAVERSION="julianightlies"
before_install:
  - sudo add-apt-repository ppa:staticfloat/julia-deps -y
  - sudo add-apt-repository ppa:staticfloat/${JULIAVERSION} -y
  - sudo apt-get update -qq -y
  - sudo apt-get install libpcre3-dev julia -y
script:
  - julia -e 'versioninfo(); Pkg.init(); Pkg.clone(pwd()); Pkg.build("Sundials")'
  - julia -e 'using Sundials; @assert isdefined(:Sundials); @assert typeof(Sundials) === Module'
  - julia -e 'Pkg.test("Sundials")'
